@import url('https://fonts.googleapis.com/css2?family=Jura&family=Lato&family=Rajdhani&display=swap');

.todo-list-template {
    width: 50%;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 그림자  */
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 7rem;
}
  
.todo-list-title {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight:500;
    color: rgb(255, 255, 255);
    font-family: 'Jura', sans-serif;
}

/* input창 */
.form-wrapper {
    padding: 2rem;
    
}
  
.todoItemList-wrapper {
    min-height: 5rem;
}